{% extends 'base.html' %}
{% block content %}
    <section class="content content--center">
        <form method="post" enctype="multipart/form-data">
            <p class="flex items-center justify-around">Image actuelle : 
                {% if request.user.profile_photo %}
                    <img class="w-20 h-20 rounded-full" src="{{ request.user.profile_photo.url }}" alt="{{ request.user.username }} photo">
                {% else %}
                    Vous n'avez pas encore de photo de profil.
                {% endif %}
                </p>
            {% if form.non_field_errors %}
                <div class="error-message">{{ form.non_field_errors }}</div>
            {% endif %}
            {% for input in form %}
                <div class="floating-field group">
                    {% if input.name == 'profile_photo' %}
                        <div class="flex items-center justify-center w-full">
                            <label for="{{ input.auto_id }}" class="file-big-field">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                    <p class="mb-2 text-sm text-gray-500">
                                        <span class="font-semibold">Cliquez pour télécharger</span> ou deposez votre image</p>
                                    <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                    <p class="mt-7 text-sm text-orange-500" id="input-image-value"></p>
                                </div>
                                <input id="{{ input.auto_id }}" name="{{ input.name }}" type="file" class="hidden input-image" />
                            </label>
                        </div>
                    {% endif %}
                    {% if input.errors %}
                        {% for error in input.errors %}
                            <p class="error-message"> {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn--orange">Uploader</button>
        </form> 
    </section>
{% endblock content %}
