{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <section class="sidebar sidebar--lime">
            <div class="sidebar-content">
                <a href="{% url 'home' %}" class="logo">
                    {# <img src="{% static 'images/favicon.png' %}" alt="logo - shp"> #}
                </a>
                <h2 class="font-bold">Partagez vos plus belles reussites.</h2>
            </div>  
        </section>
        <section class="content">
            <h2 class="page-title">Editer votre recette</h2>
            {% include 'recipes/partials/recipe_form.html' with recipe_form=recipe_form picture_form=picture_form formset=formset %}
            <h3>Supprimer votre recette ?</h3>
            <form class="delete__btn" method="post">
                {{ delete_form }}
                {% csrf_token %}
                <button type="submit" >Supprimer</button>
            </form>
        </section>
    </div>

{% endblock content %}
